LLM_ENV=local
RETRIEVER_ENV=local
GROQ_API_KEY=tu_api_key_aqui
AZURE_OPENAI_API_KEY=tu_api_key_aqui
AZURE_OPENAI_ENDPOINT=tu_endpoint_aqui
AZURE_SEARCH_ENDPOINT=tu_search_endpoint_aqui
AZURE_SEARCH_KEY=tu_search_key_aqui
