LLM_ENV=local
RETRIEVER_ENV=local
GROQ_API_KEY=tu_api_key_aqui
AZURE_OPENAI_API_KEY=tu_api_key_aqui
AZURE_OPENAI_ENDPOINT=tu_endpoint_aqui
AZURE_OPENAI_DEPLOYMENT_NAME=tu_deployment_name_aqui
AZURE_OPENAI_API_VERSION=2024-05-01-preview
AZURE_SEARCH_ENDPOINT=tu_search_endpoint_aqui
AZURE_SEARCH_KEY=tu_search_key_aqui

# Configuración del servidor de embeddings local (LM Studio / ChromaDB)
LMS_BASE_URL=http://localhost:1234/v1
LMS_EMBED_MODEL=nomic-embed-text-v1.5
